
/*	SEARCH BAR	*/
body{
	font-family: 'Montserrat', sans-serif;
}
.Welcome {
	position: absolute;
	z-index: 11;
	width:100vw;
	display:flex;
	top:40%;
}

.Welcome h1{
	font-family: 'Droid Sans', sans-serif;
	color: white;
	margin: auto;
	z-index: 11;
	font-size: 65px;
	text-shadow: 5px 4px 2px black;
}

.searchbar {
	text-align: center;
	margin:100px auto;
  z-index: 10;
  position: absolute;
  width: 100%;
}


.searchbar #search-bar, input [type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("../Images/Icon/magnifying-glass.png");
	  background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 510px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 15%;
    /* margin-top peut etre a mettre que pour le # */
    width: 50%;
}

 .searchbar #search-bar, input[type=text]:focus {
    width: 50%;
}



/*	SEARCH BUTTON	*/

.button {
  border-radius: 4px;
  background-color: #e40750;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  overflow: visible;
}

.button:hover{
	background: #68B8A5;
}

.research-bar .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;

}
.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* VIDEO  */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 85%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}



/* SLIDERS  */


.sliders{
  background-color: lightgray;
  padding-bottom: 7rem;

}


.title_contents h1{
	font-family:"Raleway Regular","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "sans-serif";
	font-size: 35px;
  padding-top: 5rem;
	padding-left: 10px;
	margin: 0 200px 30px 200px;
	border-bottom:medium solid #000000;

}

.hashtag {
	color: #e40750;
	font-weight: bold;
}



/*   Lien playlist   */
.container-playlist {
	display: flex;
	background-image: url('../Images/turntable-1109588_1280.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-color: lightcyan;
  background-size: 100%;
}

.lien-playlist {
	margin: auto;
	background-repeat: no-repeat;
	height: 25rem;
	display: flex;
	padding: 0 18rem;
}

.lien-playlist h3{
	color: #ffffff;
	text-shadow: .1rem .1rem #e40750;
	margin: auto;
	font-size: 2.5rem;
}


/*	CONTEST Bas de page	*/

.contest{
	/* margin-top: 100px; */
	padding: 80px 0px 80px 0px;
	background-image: url(../Images/music.jpg);
	background-size:cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.contest .contenu_contest {
	padding-top: 0px;
	margin: 0;
	text-align: center;
	color: white;
	text-shadow: 3px 3px 3px black;
	font-size: 30px;
}

.contenu_contest h1{
	border-bottom: none;
	padding-left:  0px;
	text-shadow: 3px 3px 2px black;
	font-size:80px;
	color: #e40750;
}

.contenu_contest .button_contest{

  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#68B8A5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

.button_contest:hover {background-color:#e40750}

.button_contest:active {
  background-color: #68B8A5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.upload-a-song {
	background-image: url('../Images/vinyle.jpg');
	background-attachment: fixed;
	height: 50vh;
	display: flex;
	background-size: 100%;
}

.upload-a-song h3 {
	color: white;
	font-size: 2.3rem;
	margin: auto;
}

.upload-a-song h3:hover {
	font-size: 2.8rem;
}

a .upload-a-song {
	text-decoration: none;
}

a:hover .upload-a-song {
	text-decoration: none;
}
