@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

/*
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

#header {
	background-color: #08415C;
}
#header .imgSettings {
	position: absolute;
	right: 0;
	top:20%;
}



#header h1{
	margin-bottom: 30px;
	text-transform: uppercase;
}

#header .imgSettings img{
	width: 3em;
	margin-right: 4em;
}

#header  p:nth-of-type(1){
    font-size: 26px;
		color: #e40750;
}

#header p{
	color: rgba(255, 255, 255, 0.65);
	font-size: 20px;
}
#header .about_me p:nth-of-type(2){
	color: rgba(255, 255, 255, 0.65);
}


#header .about_me p{
	font-size: 16px;
}

#header p:nth-of-type(2){
	color:#E40750 ;
}

/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px rgba(255, 255, 255, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.style2 {
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			transition: all 0.2s ease;
			border-radius: 100%;
			display: inline-block;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			.icon.style2:before {
				display: block;
				width: 1.25em;
				height: 1.25em;
				line-height: 1.25em;
				font-size: 1.35em;
			}

			.icon.style2:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}

			@media screen and (max-width: 736px) {

				.icon.style2:before {
					font-size: 1em;
				}

			}

/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(255, 255, 255, 0.25);
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2em;
							}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}



/* Header */

	#header {
		text-align: center;
		padding: 6em 0 4em 0;
	}

		#header h1 {
			color: rgba(255, 255, 255, 0.65);
		}

		#header .avatar {
			border-radius: 100%;
			display: inline-block;
			margin: 0 0 2em 0;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
			min-height: 16rem;
		}

			#header .avatar img {
				border-radius: 100%;
				display: block;
				width: 10em;
				min-height: 16rem;
			}

		@media screen and (max-width: 1280px) {

			#header {
				padding: 4em 0 2em 0;
			}

		}

		.content{
			height: 0%;
		}




		/* ----------------SETTINGS modif profil------------------- */

		/* The Modal (background) */
		.modal {
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 100px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: overlay; /* Enable scroll if needed */ */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
		}

		/* Modal Content */
		.modal-content {
		    position: relative;
		    background-color: #fefefe;
		    margin: auto;
		    padding: 0;
		    border: 1px solid #888;
		    width: 35%;
		    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		    -webkit-animation-name: animatetop;
		    -webkit-animation-duration: 0.4s;
		    animation-name: animatetop;
		    animation-duration: 0.4s
		}

		/* Add Animation */
		@-webkit-keyframes animatetop {
		    from {top:-300px; opacity:0}
		    to {top:0; opacity:1}
		}

		@keyframes animatetop {
		    from {top:-300px; opacity:0}
		    to {top:0; opacity:1}
		}

		/* The Close Button */
		.close {
		    color: white;
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		}

		.close:hover,
		.close:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}

		.modal-header {
		    padding: 41px 16px;
		    background-color: #3c3d41;
		    color: white;
		}


		.modal-body h3{
			background-color:  #CCDBDC;
		  color: #3c3d41;
			padding: 16px;
		}
		.modal-body form{
			font-size: 15px;
		}
		.modal-body label,input{
			margin: 20px 19px;
		}



		.modal-body input{
			position: absolute;
			width: 70%;
			margin-top: 2rem;
		}

		.modal-body input:nth-of-type(10){
			margin-left: 0;
		}
		.modal-body label{
			position: relative;
			width: 13%;
		}
		.modal-body label:last-of-type{
			width: 13.5%;
		}
		.modal-footer {
		    padding: 2px 16px;
		    background-color:#3c3d41;
		    color: white;
		}



		.modal-footer .submit{
		    background-color: #E40750;
		    border: none;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    cursor: pointer;

		}
		.modal-footer .submit:hover{
			background-color: #B4053F;
		}
		/*--------------------------------------*/
.modal-body form {
	text-align: left;
}

#myModal {
	overflow: scroll;
}

.networksLinks input{
	margin: 2rem auto;
}
.networksLinks .subNetworks{
	padding-right: inherit;
}
