.lecteur_compo p,
.modal-body p{
  font-family:'Droid Sans', sans-serif;
  font-size: 3rem;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 20px;
    color: #999;
}

.big-player input{
  width: 4%;
  height: 2%;
  margin-right: 7%;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}


/*	SEARCH BAR	*/


.searchbar {
  text-align: center;
  width: 100%;
  margin-bottom: 3%;
  background-color: lightgray;
  padding: 30px;
}


.searchbar #search-bar, input [type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("../Images/Icon/magnifying-glass.png");
	  background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 510px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

    /* margin-top peut etre a mettre que pour le # */
    width: 50%;
}

 .searchbar #search-bar, input[type=text]:focus {
    width: 50%;
}



/*	SEARCH BUTTON	*/

.button {
  border-radius: 4px;
  background-color: #e40750;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  overflow: visible;
}

.button:hover{
	background: #68B8A5;
}

.research-bar .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;

}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.select-tags
{
  margin-bottom: 4rem;
}
#selectOptions{
  background-color: #CCDBDC;
  width: 35rem;
  height: 5rem;
  font-size: 19px;
}
.select-tags button {
	background-color: #CCDBDC;
	height: 5rem;
	font-size: 19px;
}

.select-tags option:focus{
  background-color: #e40750;
}



/*--------------------------------------------------------
					Mes Compositions
--------------------------------------------------------*/
.headCompo{
	background-image: url('../Images/Rectangle.png');
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #4B4B4B;
	height:200px;
	padding-top: 70px;
	margin:0px 0px 20px;
	color: white;
	text-shadow: 3px 3px 2px black;
}


.lecteur_compo{
	background-color: #3B3B3B;
	color: white;
}

.innerCompo{
	display: flex;
}
.innerCompo p{
  padding-top: 2.5%;
}
.innerCompo .CompoMedia{
	padding: 50px;
  padding-top: 3.7%;
}
.lecteur_compo ul{
	margin-bottom: 20px;
}
.innerCompo img:last-of-type, img:nth-of-type(2){
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-right: 20px;
}
.innerCompo input{
	width: 40px;
	height: 40px;
	margin-top: 40px;
  width: 40px;
  height: 40px;
  margin-top: 3.7%;
}
.innerCompo img:first-of-type{
	margin-left: 150px;
}


/* Menu Composition options (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
	color: black;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #00ada9;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #00ada9;
    color: white;
}
.innerCompo{
position: relative;
justify-content: space-evenly;
}
.lecteur_compo li{
  list-style: none;
}
.innerCompo p{
  padding-top: 3.5%;
}
.modal-content {
  width: 27%;
  top: 25%;
  left: 37%;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

#coeurVide{
	margin: auto;
	margin-right: 10px;
	width: 30px;
	height: 30px;
}






.innerCompo .avatar img {
  width: 20rem;
  height: 20rem;
  border-radius: 115px;
  position: relative;
  margin: inherit;
			}
