/*-----------------------------------------------------------
RESET
-----------------------------------------------------------*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

.container {
	margin: 0;
	padding: 0;
	max-width: none;
}

/*-----------------------------------------------------------
UPLOAD-CLICK
-----------------------------------------------------------*/
.container {
	display: flex;
	flex-direction: column;
}

.container .inner {
	display: flex;
	margin: auto;
	flex-direction: column;
}

.container .vp {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
}

.container .vp-1 {
	background-image: url("../Images/sing.jpg");
	width: 100%;
	flex-direction: column;
	height: 80vh;
}

.container .vp-1 h3 {
	font-size: 2rem;
	margin: auto;
	margin-top: 2rem;
	color: white;
	text-shadow: .1rem .1rem #e40750;
}

.container .vp-1 .label-file {
	margin: auto;
	border: none;
	background: #31a29f;
	padding: 1rem 3rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
	font-size: 1.7rem;
	border-radius: 4px;
}

.container .vp-1 .label-file:hover {
	color: white;
	background: #2f4f50;
}

.container .vp-1 .input-file {
	display: none;
}

.container .vp-2 {
	background-image: url('../Images/music-instruments-2887457_1280.jpg');
	margin: auto;
}

.vp-2 .song {
	margin: auto;
	display: flex;
}

.vp-2 .song p,
.vp-2 .song input {
	margin: auto;
	margin-left: 15vh
}

.vp-2 .song input {
	border: none;
	background: none;
	width: 50vh;
	border-bottom: 2px solid white;
}

.vp-2 .song p {
	font-size: 2rem;
	text-align: right;
	width: 30rem;
}

.container .vp-3 {
	background-image: url('../Images/people-2606347_1280.png');
}

.container .vp-3 .inner-vp-3 {
	color: white;
	font-size: 2rem;
	margin: auto;
	display: flex;
}

.vp-3 .inner-vp-3 p {
	margin: auto;
}

.menu-tags ul {
	margin: 0;
	list-style-type:none;
 	text-align:center;
	display: flex;
	flex-direction: column;
}

.menu-tags .select-tags {
	position: absolute;
	margin: auto;
	margin-left: 3rem;
	background: #31a29f;
	color: black;
	font-size: 1.3rem;
	border-radius: 4px;
}

.menu-tags .select-tags li {
	padding: .3rem 4rem;
}

.menu-tags li {
	margin:auto;
}

.menu-tags .tags li:hover,
.menu-tags .tags li:hover a{
	background: #2f4f50;
	color: white;
	display: block;
}

.menu-tags .tags{
	display: none;
}

.menu-tags .tags li {
	border-top: 1px solid #2f4f50;
	padding: .3rem 4rem;
	background: white;
	cursor: pointer;
}

.vp-3 .tags a {
	text-decoration: none;
	color: black
}


.menu-tags .select-tags:hover .tags {
	display: block;
}

.container .vp-3 input {
	margin: auto;
	border: none;
	padding: 1rem 3rem;
	font-weight: bold;
	font-size: 1.7rem;
	color: white;
	background: #2f4f50;
	border-radius: 4px;
}

.container .vp-3 input:hover  {
	border: none;
	padding: 1rem 3rem;
  font-weight: bold;
	font-size: 1.7rem;
	background: #31a29f;
	color: black;
}

/*-----------------------------------------------------------
CLICKED
-----------------------------------------------------------*/
.big{
	display: flex;
	flex-direction: column;
	background: #68b8a5;
}

.elements{
	background: #68b8a5;
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

.proud-picture {
	background-image: url('Images/glasses.jpg');
	height: 50%;
	width: 60rem;
	background-repeat: no-repeat;
	display: flex;
	margin: auto;
	border: thin 1rem white;
}

.proud-picture p{
	font-size: 4rem;
	margin: auto;
	color: white;
	text-shadow: .1rem .1rem #e40750;
}


/*-----------------------------------------------------------
PLAYLIST (LECTEUR)
-----------------------------------------------------------*/

.grand-container{
	display: flex;
}

.title{
	width: 100%;
	font-size: 3.4rem;
	text-shadow: 0.1rem 0.1rem #e40750;
}

.inner{
	display: flex;
	width: 100%;
}

.list{
	display: flex;
	margin: 0 auto;
	border: .1rem solid #4b4b4b;
	width: 80rem;
}

audio {
	background: #000000;
}

#playlist{
	width: 100%;
}

#playlist li {
	list-style-type:none;
	margin: 0 auto 0 auto;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-bottom: .05rem solid #4b4b4b;
	display: flex;
	justify-content: space-between;
}

#playlist > li > a {
	color: #4b4b4b;
	margin: 0 auto;
	width: 100%;
	padding-left: 1rem;
}


#playlist > li:hover{
	background: #e40750;
}

#playlist > li > a:hover {
	color: white;
}

.song {
	border-bottom: none;
}

.song .submit-playlist {
	border: none;
	background: none;
	padding: 1rem;
	color: #4b4b4b;
	font-size: 1.3rem;
}

.song .submit-playlist:hover {
	color: #e40750;
}

.play-logo {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .5rem;
}

p .duree-column {
	float: right;
}

.lecteur {
	color: #4b4b4b;
	margin-left: 2rem;
	display: flex;
}

.lecteur span  {
	margin: auto;
	margin-left: 0;

}


/**********Others*************/
.choice{
	border: .1rem solid #4b4b4b;
	color: white;
	width: 15rem;
	height: 10rem;
	display: flex;
	margin-left: 12rem;
	margin-top: 3rem;
}

.choice h2{
	margin: auto;
}

.first-choice{
	background-image: url('../img/div-calm.jpg');
}

.second-choice{
	background-image: url('../img/div-run.jpg');
}

.third-choice{
	background-image: url('../img/div-rock.jpg');
}

.select-tags{
	color: #4b4b4b;
}
