@charset "utf-8";
/* CSS Document */


/*	SEARCH BAR	*/


.searchbar{
	text-align: center;
	background-image: url("Images/turntable-1109588_1280.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #4B4B4B;
	height:500px;
	padding-top: 250px;
	margin:100px auto;
}


input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("Icon/magnifying-glass.png");
	background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}



/*	SEARCH BUTTON	*/

.button {
  border-radius: 4px;
  background-color: #e40750;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  overflow: visible;
}

.button:hover{
	background: #68B8A5;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
}