/*-----------------------------------------------------------
RESET
-----------------------------------------------------------*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

/*-----------------------------------------------------------
UPLOAD-CLICK
-----------------------------------------------------------*/





/*-----------------------------------------------------------
CLICKED
-----------------------------------------------------------*/
.big{
	display: flex;
	flex-direction: column;
	background: #68b8a5;
}

.elements{
	background: #68b8a5;
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

.proud-picture {
	background-image: url('Images/glasses.jpg');
	height: 50%;
	width: 60rem;
	background-repeat: no-repeat;
	display: flex;
	margin: auto;
	border: thin 1rem white;
}

.proud-picture p{
	font-size: 4rem;
	margin: auto;
	color: white;
	text-shadow: .1rem .1rem #e40750;
}


/*-----------------------------------------------------------
PLAYLIST (LECTEUR)
-----------------------------------------------------------*/

.grand-container{
	display: flex;
}

.title{
	width: 100%;
	font-size: 3.4rem;
	text-shadow: 0.1rem 0.1rem #e40750;
}

.inner{
	display: flex;
	width: 100%;
}

.list{
	display: flex;
	margin: 0 auto;
	border: .1rem solid #4b4b4b;
	width: 80rem;
}

audio {
	background: #000000;
}

#playlist{
	width: 100%;
}

#playlist li {
	list-style-type:none;
	margin: 0 auto 0 auto;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-bottom: .05rem solid #4b4b4b;
	display: flex;
	justify-content: space-between;
}

#playlist > li > a {
	color: #4b4b4b;
	margin: 0 auto;
	width: 100%;
	padding-left: 1rem;
}


#playlist > li:hover{
	background: #e40750;
}

#playlist > li > a:hover {
	color: white;
}

.song {
	border-bottom: none;
}

.song .submit-playlist {
	border: none;
	background: none;
	padding: 1rem;
	color: #4b4b4b;
	font-size: 1.3rem;
}

.song .submit-playlist:hover {
	color: #e40750;
}

.play-logo {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .5rem;
}

p .duree-column {
	float: right;
}

.lecteur {
	color: #4b4b4b;
	margin-left: 2rem;
	display: flex;
}

.lecteur span  {
	margin: auto;
	margin-left: 0;

}


/**********Others*************/
.choice{
	border: .1rem solid #4b4b4b;
	color: white;
	width: 15rem;
	height: 10rem;
	display: flex;
	margin-left: 12rem;
	margin-top: 3rem;
}

.choice h2{
	margin: auto;
}

.first-choice{
	background-image: url('../img/div-calm.jpg');
}

.second-choice{
	background-image: url('../img/div-run.jpg');
}

.third-choice{
	background-image: url('../img/div-rock.jpg');
}

.select-tags{
	color: #4b4b4b;
}
