&@charset "utf-8";
/* CSS Document */


/*	SEARCH BAR	*/


.searchbar{
	text-align: center;
	background-image: url("Images/turntable-1109588_1280.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #4B4B4B;
	height:500px;
	padding-top: 250px;
	margin:100px auto;
}


input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("Icon/magnifying-glass.png");
	background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}



/*	SEARCH BUTTON	*/

.button {
  border-radius: 4px;
  background-color: #e40750;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  overflow: visible;
}

.button:hover{
	background: #68B8A5;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*--------------------------------------------------------
					Mes Compositions
--------------------------------------------------------*/
.lecteur_compo{
	background-color: #3B3B3B;
	color: white;
}

.innerCompo{
	display: flex;
}

.innerCompo p{
	padding: 50px;
}.innerCompo .CompoMedia{
	padding: 50px;
}

.innerCompo img:last-of-type, img:nth-of-type(2){
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-right: 20px;
}
.innerCompo input{
	width: 40px;
	height: 40px;
	margin-top: 40px;
}
.innerCompo img:first-of-type{
	margin-left: 150px;
}


/* Menu Composition options (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
	color: black;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #00ada9;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #00ada9;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


