@charset "utf-8";
/* CSS Document */

.header_profile{
	background-color: #B4B4B4;
}

.photo_profile img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	overflow: hidden;
	float: left;
	padding: 15px;
	margin: 50px 50px 0px 15px;
	box-shadow: 5px 5px 2px 1px grey;


}


.info {
	text-align: left;
	padding: 15px 0px 15px 50px;
	background-color: #C0C0C0;
}
.info p:last-child{
	color: #e40750;
}

.info .imgSettings img{
	width: 40px;
	float: right;
	margin-right: 50px;
}

.about_me {
	background: #4B4B4B;
	text-align: right;
	padding: 15px 50px 15px 0px;
	color: white;
	font-weight: 100;
}

.block-trophy {
	background:#D3D3D3;
}
.block-trophy img{
	width: 50px;
	margin: 10px 10px 10px 150px;
}

.block-trophy p{
	margin-left: 25px;
	font-weight: 500;
}







/*	CONTENTS   */

.photosCompoPlaylist .inner{
	display: block;
	max-width: 50%;
}


.photosCompoPlaylist{
	display: flex;
	overflow: hidden;
}

.photosCompoPlaylist img{
	height: 500px;
}



.photosCompoPlaylist h1{
	overflow:hidden;
  position:relative;
  left: 180px;
  top: 250px;
	color: white;
	text-shadow: 4px 5px black;
}

@media all and (max-width: 980px){
	.photosCompoPlaylist h1{
		font-size: 20px;
		left: 180px;
		text-shadow: 2px 3px black;
	}
}


a:hover{
	text-decoration: none;
}


/* ----------------SETTINGS modif profil------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 41px 16px;
    background-color: #68B8A5;
    color: white;
}


.modal-body h3{
	background-color: darkslategrey;
  color: white;
	padding: 16px;
}
.modal-body form{
	font-size: 15px;
}
.modal-body label,input{
	margin: 20px 19px;
}
.modal-body input{
	position: absolute;
	width: 70%;
}

.modal-body input:nth-of-type(4){
	margin-left: 0;
}
.modal-body label{
	position: relative;
	width: 13%;
}
.modal-body label:last-of-type{
	width: 30%;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #68B8A5;
    color: white;
}



.modal-footer .submit{
    background-color: #E40750;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.modal-footer .submit:hover{
	background-color: #B4053F;
}
/*--------------------------------------*/
