/*-----------------------------------------------------------
RESET
-----------------------------------------------------------*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

.container {
	margin: 0;
	padding: 0;
	max-width: none;
}

/*-----------------------------------------------------------
UPLOAD-CLICK
-----------------------------------------------------------*/
form .container {
	display: flex;
	flex-direction: column;
}

form .container .inner {
	display: flex;
	margin: auto;
	flex-direction: column;
}

form .container .vp {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
}

form .container .vp-1 {
	background-image: url("../Images/sing.jpg");
	width: 100%;
	flex-direction: column;
	height: 100vh;
	background-size: 100%;
}

form .container .vp-1 h3 {
	font-size: 2rem;
	margin: auto;
	margin-top: 6rem;
	color: white;
	text-shadow: .1rem .1rem #e40750;
}

form .container .vp-1 .label-file {
	margin: auto;
	border: none;
	background: #31a29f;
	padding: 1rem 3rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
	font-size: 1.7rem;
	border-radius: 4px;
}

form .container .vp-1 .label-file:hover {
	color: white;
	background: #2f4f50;
}

form .container .vp-1 .input-file {
	display: none;
}

form .container .vp-2 {
	background-image: url('../Images/musician.jpg');
	margin: auto;
	background-attachment: fixed;
	background-size: 100%;

}

form .vp-2 .song {
	margin: auto;
	display: flex;
	margin-left: 35vh;
}

.vp-2 .song p,
.vp-2 .song input {
	margin: auto;
	margin-left: 10vh
}

.vp-2 .song input {
	border: none;
	background: none;
	width: 50vh;
	border-bottom: 2px solid white;
	font-size: 2rem;
	color: black;
}

.vp-2 .song p {
	font-size: 2rem;
	text-align: right;
	width: 30rem;
	font-weight: bold;
	color: white;
}

.vp-2 .artist-name {
	margin-top: 5vh;
}

.container .vp-3 {
	background-image: url('../Images/people-2606347_1280.png');
	background-size: 100%;

}

.container .vp-3 .inner-vp-3 {
	color: white;
	font-size: 2rem;
	margin: auto;
	display: flex;
}

.vp-3 .inner-vp-3 p {
	margin: auto;
	font-size: 2rem;
}

.container .menu-tags select  {
	color: black;
	margin-left: 6rem;
	font-size: 1.5rem;
	padding: 0.2rem 1.5rem;
}

.container .vp-3 input {
	margin: auto;
	border: none;
	padding: 1rem 3rem;
	font-weight: bold;
	font-size: 1.7rem;
	color: white;
	background: #2f4f50;
	border-radius: 4px;
}

.container .vp-3 input:hover  {
	border: none;
	padding: 1rem 3rem;
  font-weight: bold;
	font-size: 1.7rem;
	background: #31a29f;
	color: black;
}

/*-----------------------------------------------------------
CLICKED
-----------------------------------------------------------*/
.error-container {
	display: flex;
}

.error-container .error-empty {
	display: flex;
	background-image: url('../Images/slt.jpg');
	background-repeat: no-repeat;
	flex-direction: column;
	height: 65vh;
	margin: auto;
	padding: 0 40rem;
}

.error-empty .error-message {
	margin: auto;
	font-size: 1.8rem;
	color: white;
}

.error-empty .go-back {
	margin: auto;
}

.error-empty .go-back a {
	text-decoration: none;
	color: white;
	font-size: 2rem;
	background: #e40851;
	padding: 0.5rem 2rem;
	border-radius: 4px;
}

.error-empty .go-back a:hover {
	background: #31a29f;
	padding: 0.8rem 2.3rem;
}

.big{
	display: flex;
	flex-direction: column;
	background: #68b8a5;
}

.elements{
	background: #68b8a5;
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

.proud-picture {
	background-image: url('Images/glasses.jpg');
	height: 50%;
	width: 60rem;
	background-repeat: no-repeat;
	display: flex;
	margin: auto;
	border: thin 1rem white;
}

.proud-picture p{
	font-size: 4rem;
	margin: auto;
	color: white;
	text-shadow: .1rem .1rem #e40750;
}


/*-----------------------------------------------------------
PLAYLIST (LECTEUR)
-----------------------------------------------------------*/

/* Modification du css aussi dans lecteur dans selectPlaylists.css */

.select-tags {
	display: flex;
}

.select-tags form{
	margin: auto;
	margin-bottom: 1rem;
}

.select-tags select{
	background-color: #CCDBDC;
	width: 35rem;
	height: 5rem;
	font-size: 19px;
}
.select-tags button:hover {
	background: #68b8a5;
	color: white;
}

.grand-container .title-container {
	display: flex;
	flex-direction: column;
	background-image: url(../Images/bakelite-1595847_1280.jpg);
	background-attachment: fixed;
  height: 20vh;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.grand-container .title {
	padding: 2rem;
	margin: auto;
	color: white;
	text-shadow: 3px 3px 3px black;
	font-size: 4.6rem;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.7);
}

.grand-container .inner {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.grand-container .inner .big-player {
	display: flex;
	width: 100%;
	background: #F0F0F0;
	border-bottom: .11rem solid #e40750;
}

.grand-container .big-player .song-name,
.grand-container .big-player .artist-name,
.grand-container .big-player .mp3-name {
	margin: auto;
	margin-top: 2rem;
}

.grand-container .big-player .song-name {
	width: 15rem;
}

/**********Others*************/
.choice{
	border: .1rem solid #4b4b4b;
	color: white;
	width: 15rem;
	height: 10rem;
	display: flex;
	margin-left: 12rem;
	margin-top: 3rem;
}

.choice h2{
	margin: auto;
}

.first-choice{
	background-image: url('../img/div-calm.jpg');
}

.second-choice{
	background-image: url('../img/div-run.jpg');
}

.third-choice{
	background-image: url('../img/div-rock.jpg');
}

.select-tags{
	color: #4b4b4b;
}
