@charset "utf-8";
/* CSS Document */

.header_profile{
	background-color: #B4B4B4;
}

.photo_profile img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	overflow: hidden;
	float: left;
	padding: 15px;
	margin: 50px 50px 0px 15px;
	box-shadow: 5px 5px 2px 1px grey;


}


.info {
	text-align: left;
	padding: 15px 0px 15px 50px;
	background-color: #C0C0C0;
}
.info p:last-child{
	color: #e40750;
}


.about_me {
	background: #4B4B4B;
	text-align: right;
	padding: 15px 50px 15px 0px;
	color: white;
	font-weight: 100;
}

.block-trophy {
	background:#D3D3D3;
}
.block-trophy img{
	width: 50px;
	margin: 10px 10px 10px 150px;
}

.block-trophy p{
	margin-left: 25px;
	font-weight: 500;
}







/*	CONTENTS   */

.photosCompoPlaylist .inner{
	display: block;
	max-width: 50%;
}


.photosCompoPlaylist{
	display: flex;
	overflow: hidden;
}

.photosCompoPlaylist img{
	height: 500px;
}



.photosCompoPlaylist h1{
	overflow:hidden;
    position:relative;
    left: 180px;
    top: 250px;
	color: white;
	text-shadow: 4px 5px black;
}

@media all and (max-width: 980px){
	.photosCompoPlaylist h1{
		font-size: 20px;
		left: 180px;
		text-shadow: 2px 3px black;
	}
}


a:hover{
	text-decoration: none;
}


